[Unit]
Description = Seal encryption key for TPM

[Service]
EnvironmentFile = /etc/sealkey/paths.env
ExecStart = /usr/bin/sealkey tpm_seal /etc/sealkey/%i.json ${UNENCRYPTED_KEYFILE} ${KEY_PATH}/tpm-%i.enc

